* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #003049;
}

.container {
  width: 80%;
  max-width: 400px;
  height: 50vh;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1, label {
  background: #0ccf33;
  background: linear-gradient(to right, #0ccf33 0%, #8fcfc2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.converter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

label {
  font-size: 18px;
  margin-right: 10px;
}

input {
    width: 100%;
    max-width: 200px;
    padding: 10px; /* Increase padding for a better look */
    font-size: 16px;
    color: #fff;
    text-align: center;
    border: 4px solid #ccc; /* Add a border */
    border-radius: 20px;
    background-color: transparent; /* Transparent background */
    transition: border-color 0.3s, background-color 0.3s; /* Add transition for a smoother effect */
    outline: none;
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Firefox */
  }
  
  /* Style for input when focused */
  input:focus {
    border-color: #007bff; /* Change border color on focus */
    background-color: rgba(0, 123, 255, 0.1); /* Slightly darker transparent background on focus */
  }
  

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result {
  font-size: 20px;
  margin-top: 10px;
  color: green;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .container {
    width: 90%;
    max-width: none;
  }
}
